
<section>

    <mat-card class="loginform">
        <mat-card-content>

            <h1 style="margin-top: 1em;margin-bottom: 1em; font-weight: bold; text-align: center;">IMPRESIÓN DE ETIQUETAS</h1>

            <div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
                    <mat-form-field class="example-full-width">
                        <mat-label for="sku">Username: </mat-label>
                        <input matInput="" id="sku" type="text" formControlName="username">
                    </mat-form-field>
            
            
                    <mat-form-field class="example-full-width">
                        <label for="modelname">Password: </label>
                        <input matInput="" id="modelname" type="password" formControlName="password">
            
                    </mat-form-field>
            
                    <div class="loginbutton">
                        <br/>
                        <button mat-raised-button color="accent" type="submit">Acceder</button>
                    </div>
            
            
                </form>
            
            </div>

        </mat-card-content>
    </mat-card>

</section>