/* .example-spacer {
    flex: 1 1 auto;
}
 */

.example-spacer {
    flex: 1 1 auto;
}

.parent {}

mat-card {
    text-align: center;
    height: 25em;
    width: 25em;
    margin: 1em;
    display: inline-block;

}

/* .fabNewRim {

    float: right;
    margin-right: 10%;
    vertical-align: bottom;

} */



.imgincard {

    width: 15em;
    height: 15em;
}

/* .parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} */
@media print {
    @page {
        size: landscape;
        margin: -0;
    }


}

