<mat-toolbar color="primary">
  <button mat-icon-button fontIcon="home" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Impresión de etiquetas</span>
  <span class="example-spacer"></span>
  <button (click)="logout()" mat-icon-button aria-label="logout button icon-button with logout icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<section>
  <div class="parent">
    <mat-card   (click)="goToRims(item.brand);" *ngFor="let item of brands">
      <mat-card-header><h2>Marca:{{item.brand}}</h2></mat-card-header>
      <mat-card-content>
        
        <img mat-card-image src="{{imagesUrl}}/brands/{{item.brandlogo}}" class="imgincard" />
      </mat-card-content>

    </mat-card>



  </div>
  <section>

    <div>
      <button (click)="openDialog('brands')" class="fabNewRim" mat-fab color="accent" aria-label="Icon button for new rim">
        <mat-icon>add</mat-icon>
        Marca
      </button>
    </div>


  </section>
</section>