.example-spacer {
    flex: 1 1 auto;
}

.parent {
    margin: 1em;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1em;
    place-items: center;


}

.fabNewRim {

    float: right;
    margin-right: 10%;
    vertical-align: bottom;

}



.imgincard {
    width: 20em;
    height: 15em;
}

/* .parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} */