.example-spacer {
    flex: 1 1 auto;
}

.parent {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    place-items: center;
}

.fabNewRim {
    
    float: right;
    margin-right: 10%;
    vertical-align: bottom;

}

/* .parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} */